.cards-section {
    padding-top: 88px;
    padding-bottom: 60px;
}

.cards-start-h4 {
    color: #838383;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 407px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    cursor: pointer;
}

.card-middle {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.card-middle-name {
    width: 80%;
}

.card-middle-name-h4 {
    color: #1C1C27;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-middle-price {
    width: auto;
}

.card-middle-price-h4 {
    color: #FFA542;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}

.card-bottom {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.card-bottom-rating {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.card-bottom-rating-h4 {
    text-align: center;
    color: #838383;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}