.footer-wrapper {
    width: 100%;
    height: 149px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px 30px 0px 0px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 40px;
}

.footer-left {
    display: flex;
    gap: 233px;
}

.footer-left-brand {
    .footer-left-brand-h5 {
        color: #101010;
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.footer-left-item {
    .footer-left-item-p {
        color: #000;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
    }
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right-service {
    margin-bottom: 10px;

    .footer-right-service-h5 {
        color: #000;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer-right-lang-item {
    display: flex;
    gap: 15px;

    .footer-right-lang-img {
        cursor: pointer;
    }

    .footer-right-lang-item-p {
        color: #101010;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }
}

.footer-social {
    display: flex;
    gap: 10px;

    box-icon {
        cursor: pointer;
    }
}