.addToCart-start {
    margin-bottom: 13px;

    .addToCart-start-h5 {
        color: #1C1C27;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.addToCart-wrapper {
    display: flex;
    justify-content: space-between;
}

.addToCart-card-map {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.addToCart-card {
    width: 633px;
    height: auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
}

.addToCart-card-top {
    display: flex;
    align-items: center;
    gap: 23px;
}

.addToCart-product-name {
    .addToCart-product-name-h4 {
        color: #1C1C27;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .addToCart-product-price-h4 {
        color: #AAA;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.addToCart-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addToCart-middle-counter {
    display: flex;
    gap: 23px;
    align-items: center;

    .addToCart-middle-counter-h4 {
        color: #000;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .addToCart-middle-counter-minus-btn {
        padding: 5px 13px;
        border: none;
        border-radius: 35.167px;
        background: #FFCE7F;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .addToCart-middle-counter-plus-btn {
        padding: 5px 10px;
        border: none;
        border-radius: 35.167px;
        background: #FFCE7F;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
}

.addToCart-middle-price {
    .addToCart-middle-price-h4 {
        color: #1C1C27;
        text-align: right;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.addToCart-total {
    width: 348.98px;
    height: 114px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.addToCart-total-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;


    .addToCart-total-top-h4 {
        color: #000;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .addToCart-price-top-h4 {
        color: #000;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.addToCart-clearance-btn {
    padding: 22px 61px;
    border-radius: 20px;
    background: #101010;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.addToCart-map {
    width: 633px;
    height: auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    margin-bottom: 176px;
}

.addToCart-map-h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 17px;
}

.addToCart-middle-map {
    cursor: pointer;
}

.addToCart-middle-map-price {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.addToCart-middle-delivery-h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.addToCart-middle-map-price-h4 {
    color: #1C1C27;
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.empty-wrapper {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
}

.empty-middle-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.empty-middle-info-h2 {
    color: #101010;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.empty-middle-info-p {
    color: #838383;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.empty-bottom {
    width: 540px;
    .empty-button {
        width: 100%;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 20px;
        background: #101010;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        padding: 20px 10px;
        cursor: pointer;
    }
}